body {
  background-color: #e0ebe8;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  border-color: #1B5FD5;
  width: 7%;
  margin: 50px auto;
}

h1 {
  padding-top: 200px;
  color: #083583;
  font-size: 50px;
  padding-bottom: 60px;
  font-family: comfortaa, sans-serif;
  font-weight: bold;
}

h2 {
  color: #083583;
  font-size: 40px;
  font-family: comfortaa, sans-serif;
  font-weight: bold;
}

h3 {
  color: #083583;
  font-size: 40px;
  font-family: comfortaa, sans-serif;
  font-weight: bold;
}

h5 {
  color: #083583;
  font-size: 20px;
  font-family: comfortaa, sans-serif;
  font-weight: bold;
}

p {
  color: black;
  font-family: comfortaa, sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

br {
  line-height: 300px;
}

a {
  color: #093072;
  font-family: verdana, sans-serif;
  font-size: 20px;
}

.content {
  background-image: url(../images/Logo.jpg);
  border-width: medium;
  background-repeat: no-repeat;
  border-style: hidden;
  position: static;
  height: 750px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 0;
  padding: 50px 0 20px;
  vertical-align: middle;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  background-size: contain;
  opacity: 0.7;

}

.years {
  font-family: cursive;
  font-size: 20px;
  font-weight: bold;
}

img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.middle {
}

.efrain2 {
  float: left;

}


.prevencion{
  float: right;
}

.venta{
  float: left;
}
.bottom {
font-size: 13px;
  }


.espacio{
  height: 50px;
  visibility: hidden;
}

.boton{
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
  	background:linear-gradient(to bottom, #3d94f6 5%, #0b2e66 100%);
  	background-color:#3d94f6;
  	border-radius:6px;
  	border:1px solid #337fed;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:verdana;
  	font-size:15px;
  	font-weight:bold;
  	padding:10px 24px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #1570cd;
  }
  .boton:hover {
  	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  	background-color:#1e62d0;
  }
  .boton:active {
  	position:relative;
  	top:1px;
  }
.pie{
  background-color: #66bfbf;
  padding: 10px 0 0;
  font-size: 10px;
}

.horarios{
  line-height: 1.2;
}

.footer-link{
margin: 10px 20px;
color: #11999E;
text-decoration: none;
font-family: comfortaa, sans-serif;
}

a:hover{
color: #EAF6F6;
}

.inicio{
  height: 50px;
  background-color: #66bfbf;

}
.copyright{
  color: #EAF6F6;
  font-size: 10px;
  padding: 10px 0 5px;
}
.Catálogo{

}
